---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
       <a href="assets/pdf/cv.pdf">
        <div class="card hoverable">
      {% if page.profile.image %}
        {% responsive_image_block %}
          path: {{ page.profile.image | prepend: 'assets/img/' }}
          class: "img-fluid z-depth-1 rounded"
        {% endresponsive_image_block %}
      {% endif %}
      </div>
       </a>
      {% if page.profile.cv %}
        <div class="address">
          {{ page.profile.cv }}
        </div>
      {% endif %}
      {% if page.social %}
      <div class="social" style="margin-top:0.5rem;">
        <div class="small-contact-icons">
          {% include social.html %}
        </div>
      </div>
    {% endif %}
        {% if page.profile.address %}
        <div class="address" style="margin-top:0.5rem;">
          {{ page.profile.address }}
        </div>
      {% endif %}

    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.activities %}
      {% include activities.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
